{% extends 'custom_base.html' %}

{% block content %}
<h1>Cameras Raw Streams</h1>
<div class="d-flex flex-wrap justify-content-center">
    {% for stream in streams %}
    <div class="card m-3" style="max-width: 1080px; width: 40%;">
        <img 
            id="videoFeed{{ forloop.counter }}" 
            src="{{ stream.video_feed_url }}" 
            alt="Camera stream" 
            class="card-img-top" 
            style="width: 100%; height: auto;">
        <div class="card-body">
          <h5 class="card-title">Camera: {{ stream.camera_name }}</h5>
          <p class="card-text">
            <a href="{{ stream.video_feed_url }}"> Stream </a>
          </p>
        </div>
    </div>
    {% endfor %}
</div>

<script>
</script>
{% endblock %}
