{% extends 'custom_base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="text-center mb-0">Entries Live</h1>
    </div>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Entered At</th>
                <th>Time Inside</th>
                <th>Photo In</th>
                <th>Distance In</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr id="entry-row-{{ entry.entry.id }}">
                <td>{{ entry.entry.user.username }}</td>
                <td>{{ entry.entry.recognition_in.time }}</td>
                <td>{{ entry.time_inside }}</td>
                <td><img src="{{ entry.entry.recognition_in.photo.url }}" alt="link: {{ entry.recognition_in.photo.url }}" class="img-thumbnail"></td>
                <td>{{ entry.entry.recognition_in.distance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block extra_js %}
<script>
</script>
{% endblock %}
{% endblock %}